<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nononsenseapps.filepicker.examples">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Only needed to create sub directories. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/FilePickerTheme">

        <activity
            android:name=".backbutton.BackHandlingFilePickerActivity"
            android:label="Override back button"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
